#root {
  margin: 0 auto;
  text-align: center;
}

.App{
  position: absolute;
  top:5vh;
  right: 0;
  width: 97vw;
  height: 95vh;
  display:grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 2fr 3fr;
  overflow: hidden;
}

.presentation img{
  border: .15vw solid #00d8fe;
  border-radius: 50%;
  height: 20vw;
  width: 20vw;
}

.presentation{
  color: white;
  font-size: 1vw;
  max-inline-size: 100ch;
}

.presentation h1{
  font-size: 2em;
}